*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

*::after, *::before{
   box-sizing: border-box;
  padding: 0;
  margin: 0; 
}

.i{
  text-align: center;
  margin-top: 4px;
  color: #eef2f8;
  margin-bottom: 4px;
}